<h1>Form</h1>

<form action="process_form">
    <label for="firstname">First Name</label>
        <input id="firstname" type="text" name="firstname">
    <label for="lastname">Last Name</label>
        <input id="lastname" type="text" name="lastname">
        <input type="submit" value="submit">
    <label for="email">Email</label>
        <input id="email" type="email" name="email">
        <input type="submit" value="submit">
    <label for="hear_about">How did you hear about us?</label>
    <select name="option" id="hear_about">
    <option value="google">Google</option>
     <option value="friend">Friend</option>
      <option value="facebook">Facebook</option>
      </select>
      <textarea class="form-control" rows="3"></textarea>
       <label for="hear_about">Background color?</label>
    <select name="option" id="hear_about">
    <option value="Blue">Blue</option>
     <option value="Pink">Pink</option>
      <option value="Purple">Purple</option>
</form>